<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro</title>
    <link rel="stylesheet" href="./room.css">
</head>

<body>
    <header>
        <h1>Room</h1>
    </header>
        <div class="input-search">
            <input type="search" placeholder="Postea tu mensaje en este room">
        </div>
    <main>
        
        <div class="topic">
            <img src="perfilsinperfil.jpg" alt="" srcset="">
            <div>
                <a href="../Profile/profile.html">
                    <h2>Quedada</h2>
                    <p>quedamos antes para unas birr...</p>
            </div></a>
        </div>

        <div class="topic">
            <img src="perfilsinperfil.jpg" alt="" srcset="">
           <div></div> <a href="../Profile/profile.html">
                <h2>Post oficial de fotos</h2>
                <p>para subir fotos</p>
            </div>    
            </a>
        </div>

        <div class="topic">
            <img src="perfilsinperfil.jpg" alt="Contacto 1">
            <div><a href="../Profile/profile.html">
                    <h2>Premios</h2>
                    <p>hola chicos que s parece si...</p>
            </div></a>
        </div>


    </main>

    <footer>
        <p>&copy; 2024 Vertex App</p>
    </footer>
</body>

</html>