<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="./vertexhome.css">
    <title>home</title>
</head>

<body>
    <div class="col-md-10">
    <div class="imagencabecera">
        <img src="homeimage.svg" alt="" srcset="">
    </div>
</div>

  <div class="image">
            <img src="vertexlogopink.svg" alt="" srcset="">

        </div>


<div class="container" >

      
        <h2>Welcome to Vertex</h2>

        <div class="col-md-6">
            <div class="col-md-6">
                <a href="../Login/login.html" class="btn btn-secondary btn-block">Log In</a>
            </div>
            <div class="col-md-6">
                <a href="../Register/register.html" class="btn btn-primary btn-block">Sign In</a>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>