body {
  margin: 0;
  background-color: rgb(217, 70, 239);
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

button,
h1 {
  font-family: "Russo One", sans-serif !important;
  color: #ffffff;
}

.containerform {
  margin-top: 50%;
}

.containerlogo {
  display: grid;
  place-content: center;
  margin-top: 20px;
  gap: 40px;
}

h1 {
  margin: 24px;
}

strong {
  color: #ffff;
}

.form-groupt {
  border-radius: 10px;
  border: 2px solid;
}

.btn {
  background-color: #4b0f54;
  color: #ffffff;
  font-size: 1rem;
}

.form-group {
  margin: 24px;
}
